[
    {
        "host": "127.0.0.1",
        "password": "password1",
        "username": "root"
    },
    {
        "host": "127.0.0.1",
        "password": "password2",
        "username": "root"
    }
]